<div class="container">
<div class="row  pt-2">
  <div class="col-lg-4 col-sm-12 col-md-5 pt-2">
    <div class="input-group">
      <input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
      <span class="input-group-text">$</span>
    </div>
  </div>
  <div class="col-lgcol-sm col-md"></div>
  <div class="col-lg-2 col-sm-12 col-md-3 d-grid pt-2">
    <button class="btn btn-primary">Add Course/track</button>
  </div>
  <div class="col-lg-2 col-sm-12 col-md-3 d-grid pt-2">
    <button class="btn btn-primary btn-blank">Add Course/track</button>
  </div>
</div>
<div class="row pt-2">
  <div class="col-lg-2 col-sm-12 col-md-4 pt-2">
    <coursLevel-app></coursLevel-app>
  </div>
  <div class="col-lg-2 col-sm-12 col-md-4 pt-2">
    <coursCatagory-app></coursCatagory-app>
  </div>
  <div class="col-lg-2 col-sm-12 col-md-4 pt-2">
    <coursRate-app></coursRate-app>
  </div>
  <div class="col-lg-2 col-sm-12 col-md-4 pt-2">
    <coursTrack-app></coursTrack-app>
  </div>
  <div class="col-lg-2 col-sm-12 col-md-4 pt-2">
    <coursType-app></coursType-app>
  </div>
  <div class="col-lg-2 col-sm-12 col-md-4 pt-2">
    <coursType-app></coursType-app>
  </div>
</div>
<div class="row  pt-2">
<cours-app></cours-app>
</div>
</div>

