<div class="d-flex" style="border-bottom: whitesmoke solid 1px;">
  <div class="flex-shrink-0">
    <img src="..." alt="...">
  </div>
  <div class="flex-grow-1 ms-3">
    This is some content from a media component. You can replace this with any content and adjust it as needed.
  </div>
  <div class="p-2 d-flex justify-content-end">
    <ul class="display: inline-flex;">
      <li style="text-decoration: none; float: left; list-style: none; display: inline-flex;">ite</li>
      <li style="text-decoration: none; float: left; list-style: none; display: inline-flex;">ite</li>
    </ul>
  </div>
</div>
