<form  (ngSubmit)="onSubmite(f)" #f="ngForm">
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Title</label>
  <input type="email" class="form-control"
    placeholder="name@example.com" name="title"
   #title
   ngModel
   required
   >
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Containt</label>
  <textarea class="form-control" name="content" rows="3"
  #content
  ngModel
  required
  ></textarea>
</div>
<button type="submit" class="btn btn-primary my-2 " >Send Post</button>
<br/>
<button type="button"
 class="btn btn-primary mx-4"
 (click)="fetchData()"
 >fetch Post</button>
<button type="button"
 class="btn btn-danger mx-4"
 (click)="clearPost()"
>clear Post</button>
</form>
<h1 *ngIf="!posts&&!isFetched">not posts </h1>
<div class="list-group my-4" *ngIf="posts&&!isFetched">
  <a  class="list-group-item list-group-item-action"*ngFor="let item of posts">
    <div>
        <h2>{{item.title}}</h2>
        <p>{{item.content}}</p>
    </div>
    <button type="button" class="btn btn-danger" (click)="deletePost(item.id)">x</button>
  </a>
</div>
<p  *ngIf="isFetched">load...</p>
