<div class="pt-4 container-flid">
  <form
   [formGroup]="updateFormGroup"
   (ngSubmit)="onSubmite()">
    <button type="submit" class="btn btn-secondary mx-3">update</button>
    <button type="submit"
     class="btn btn-danger"
     (click)="backpreviousePage()"
     >Cancel</button>
    <div class="form-floating mb-3">
      <label for="floatingInput">Name</label>
      <input
      type="text"
      class="form-control"
      id="Name" placeholder="Name"
      name="name"
      formControlName="name"
        >
    </div>
    <div class="form-floating">
      <label for="ImagePath">Image Url</label>
      <input
      type="text"
      class="form-control"
       id="ImagePath"
       name="imagePath" placeholder="Image Path"
       formControlName="imagePath">
    </div>
    <div class="form-floating">
     <img class="img-response" src="" alt="">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
      <textarea
      class="form-control"
      id="exampleFormControlTextarea1" rows="5"
      name="desc"
      formControlName="desc"
       ></textarea>
    </div>
    <label class="form-label">Ingredient</label>
    <div style="margin: auto; " formArrayName="ingredients">
      <div class="row justify-content-evenly"
      *ngFor="let ingredientCtrl of controls; let i = index"
       [formGroupName]="i"
       >
        <div class="col-5 mt-2">
            <input
            class="form-control" placeholder="Name"
            formControlName="name"
            />
        </div>
        <div class="col-4 mt-2" >
          <input type="number"
           class="form-control" placeholder="Amount"
          formControlName="amount"
           />
         </div>
         <div class="col-1 mt-2">
          <button
          class="btn btn-danger"
          type="button"
          (click)="deleteingredient(i)"
           >x</button>
         </div>
      </div>
      <button class="btn btn-success mt-2" type="button"
      (click)="addFormControlIngredient()"> add Ingredient</button>
    </div>
  </form>
</div>
